@model HiveSenseMonitoring.Graph
<div class="graph">
    <h3>@Model.Title</h3>
    <div class="graphContainer" id="@Model.id">
        <img id="@(Model.id)_theimage"/>
        
        

        <div id="@(Model.id)_loading" class="loading"><img src="@Url.Content("~/Content/themes/base/images/bee.gif")" style="height: 100px;">Loading...</div>
    </div>
</div>

<script>

    $(function () {

        var container = '@Model.id';



        var image = $('#' + container + '_theimage');
        var loading = $('#' + container + '_loading');




        var hideLoading = function () {

            loading.hide();

            setTimeout(loadNew, 30000);
        };

        var loadNew = function () {
            loading.show();
            image.attr("src", '@Html.Raw(Model.URL)' + "&uniq=" + new Date());
            }

        image.bind('load', hideLoading);
        loadNew();


    })


</script>

